.Decrypt {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
  place-items: start center;
  padding-top: 10vh;
}

/* .Decrypt .line {
    height: 50vh;
    width: 0.1px;
    background-color: var(--darkBlueLight);
    transform: translateY(5vh);
  } */

.Decrypt .left {
  width: 100%;
}

.Decrypt .left > p {
  text-align: center;
  padding: 30px;
  font-size: 0.8rem;
  color: var(--grey);
}

.Decrypt .left .bottom > p {
  padding-bottom: 6px;
}

.Decrypt .left .bottom .selectedFile {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: left; */
  width: fit-content;
  gap: 10px;
  padding-bottom: 6px;
  position: relative;
}

.Decrypt .left .bottom .selectedFile .remove {
  fill: var(--darkBlue);
  cursor: pointer;
  position: absolute;
  bottom: -1px;
  left: 105%;
}

.Decrypt .left .bottom .uploadButton {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 200ms ease-in-out;

  font-weight: 400;
  font-size: 1.2rem;

  border: 2px solid var(--darkBlue);
}

.Decrypt .left .bottom .uploadButton:hover {
  box-shadow: var(--darkBlueShadow2);
}

.Decrypt .left .bottom .uploadButton > p {
  color: var(--darkBlue);
  transform: translateY(1.5px);
}

.Decrypt .left .bottom .uploadButton > svg {
  fill: var(--darkBlue);
}

.Decrypt .left .bottom .uploadButton > input {
  display: none;
}
.Decrypt .left .top > p {
  padding-bottom: 6px;
}
.Decrypt .left .top textarea {
  width: 100%;
  outline: none;
  resize: none;
  padding: 10px;
  color: black;

  /* border: 2px solid var(--darkBlue); */

  border: none;
  box-shadow: var(--darkBlueShadow);
}

.Decrypt .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  width: 80%;
}

.Decrypt .right h1 {
  width: 100%;
  text-align: left;
  color: var(--darkBlue);
}

.Decrypt .right button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 6px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  font-weight: 400;
  font-size: 1.2rem;

  /* background-color: var(--darkBlue); */

  /* background-color: transparent;
    box-shadow: var(--darkBlueShadow); */

  background-color: transparent;
  border: 2px solid var(--darkBlue);
}

.Decrypt .right button:hover {
  box-shadow: var(--darkBlueShadow2);
}

.Decrypt .right button svg {
  /* width: 16px;
      height: 16px; */
  fill: var(--darkBlue);
}

.Decrypt .right button p {
  transform: translateY(1.4px);
  color: var(--darkBlue);
}
